APP_NAME=MyApp
NODE_ENV=development
PORT=3000
MONGO_URI=mongodb://mongodb:27017/todo-app 

JWT_SECRET=access_secret
JWT_REFRESH_SECRET=refresh_secret
ENABLE_CLUSTER=false

REDIS_HOST=redis
REDIS_PORT=6379
MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=test@gmail.com
MAIL_PASSWORD=test
